################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/real-estate/bin/Debug/net8.0
/.vs
/real-estate/obj
/real-estate/.env
/real-estate/.config
/real-estate/bin/Release/net8.0
/real-estate/Properties/PublishProfiles
