################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/real-estate/bin/Debug/net8.0
/.vs
/real-estate/obj
